html, 
body {
  height: 100%;
  width: 100%;
}

a {
  color: #000;
  line-height: 2;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
}

ul,
ol {
  list-style: none;
}

body {
  position: relative;
}

.bg-image {
  background: url("https://cdn.wallpapersafari.com/88/8/4Sd5kH.jpg") center center no-repeat fixed;
  background-size: cover;
  height: calc(100vh - 0px);
}

.blurry {
  filter: blur(8px);
}

.hide {
  z-index: -1;
}

header.open,
.skew.open,
.menu.open {
  opacity: 1;
  left: 0;
}

header, 
.skew,
.menu {
  left: -50em;
  background-color: #fff;
  opacity: 0;
  transition: left 250ms ease-in;
}

.menu {
  position: absolute;
  top: 30%;
  z-index: 3;
}

button {
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #000;
  border: 3px solid #000;
  background-color: #fff;
  transition: 250ms color ease-in-out, 250ms border ease-in;
  z-index: 3;
}

button:hover {
  color: #000;
  border-color: #000;
}

nav span {
  line-height: 1;
  display: block;
}

nav span:before  {
  content: '\2630';
}

